/* @override 
  http://planetoftheweb.com/_/css/styles.css */
/*#145266


#C61C6F
*/

@import url("http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather:400,300,700,900|Droid+Sans:400,700");

/* Reset Styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }


/* Base Styles */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

html {
  background-color: #4b2122; 
  background-image: -webkit-gradient(radial, 0% 0%, 0% 100%, from(#4b2122), to(#9d5933));
  background-image: -webkit-radial-gradient(top, #9d5933, #4b2122); 
  background-image: -moz-radial-gradient(top, #9d5933,#4b2122);
  background-image: -o-radial-gradient(top, #9d5933,  #4b2122);
		 background-image: url(../images/bg.jpg);
		background-repeat:repeat;
  min-height: 100%;
  height: auto;
}

body  {
  font-family: Merriweather, serif;
  font-size: 1rem;
  line-height: 160%;
  zoom: 1;
}



h1, h2, h3, h4, h5, h6 {
  font-family: 'Bree Serif', serif;
  font-weight: normal;
  color: #281715;
 /* text-shadow: 1px 1px rgb(255,255,255, 1);*/
}

a {
  color: #145266;
  font-family: Bree Serif, serif;
	margin-top:10px;
}

h1{
  color: #281715;
  font-size: 2.2rem;
  line-height: 100%;
  margin-bottom: 15px;
}

h2{ 
  font-size: 1.5rem;
  line-height: 90%;
  color: #281715;
}

h3{ 
  margin-top: 0;
  color: #353535;
  line-height: 110%;
  margin-bottom: 8px;
}

p {
  line-height: 1.3rem;
  color: #281715;
  margin-bottom: 10px;
  font-family: 'Merriweather';
}

a.small {
  line-height: 100%;
  font-size: .9rem;
}


/* Search Styles */

.search {
  background: #281715;
  color: #EEE8D5;
  width: 90%;
  min-width: 320px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 20px;
  padding: 20px 30px;
  z-index: 20;
}

.search h1 {
  color: #EEE8D5;
	letter-spacing:0.06rem;
}

.btn {
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 140%;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #145266;
    color: #FCF4DC;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
}

.btn .btn-left {
  float: left;
}

.btn .btn-right {
  float: right;
}

.btn:hover {
    background: #09576D;
}

.search label {
  display: none;
}

.search input {
  font-family: 'Droid Sans', sans-serif;
  width: 100%;
  padding: 10px 0 10px 15px;
  font-size: 1rem;
  color: #281715;
  background: rgba(255,255,255,0.4);
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 10px;
  outline: 0;
}

.search .formgroup input {
  border: 1px solid rgba(0,0,0,0.3);
  display: inline;
  width: auto;
}

.search label.formgroup {
  display: inline;
  width: auto;
}

.search select {
  display: inline;
  padding: 10px 0 10px 15px;
  font-size: 1rem;
  color: #281715;
  background: rgba(255,255,255,0.4);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 10px;
  outline: 0;
	margin-top:12px;
	text-transform:lowercase;
}

/* media List Styles */

.medialist {
  background: #EEE8D5;
  width: 50%;
  min-width: 290px;
  max-width:350px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 0 0 20px 20px;
  opacity: 1;
  z-index: 10;
}

.medialist ul {
  margin: 0;
  padding: 0;
  background: #FDF6E3;
}

.medialist li {
  margin: 0;
  padding: 10px 10px 0 10px;
  border-bottom: 1px dashed black;
 
  -webkit-transition:all 0.3s ease-out;
 -moz-transition:all 0.3s ease-out;
-o-transition:all 0.3s ease-out;
	transition: all 0.3s ease-out;

	opacity:1;
}

.medialist a {
  display: block;
  text-decoration: none;
}

.medialist li:hover {
  background: #FDF6E3;
	border-radius:4px;
 -webkit-transform:scale(1.2);
-moz-transform:scale(1.2);
	-o-transform:scale(1.2);
	transform:scale(1.2);
}

.media img {
  display: block;
  float: left;
  width: 60px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.media info {
  display: block;
  float: left;
  padding-left: 120px !important;
}

.media:last-child {
  border-bottom:none;
}

.mediainfo {
  font-size: 1.1em;
  line-height: 160%;
  background: #EEE8D5;
  color: #0F4150;
  width: 90%;
  min-width: 320px;
  max-width: 620px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px 30px;
  border-radius: 10px;
  z-index: 20;
}

.mediainfo h1{
  font-size: 1.8em;
  margin-bottom: 0;
}

.mediainfo img {
  width: 40%;
  max-width: 130px;
  border-radius: 20px;
}

.btn-floater{
float:right;

}

.media.ng-enter.ng-enter-active,.media.ng-enter{
opacity:1;
	height:88px;
	overflow:hidden;
}

.media.ng-leave.ng-leave-active,.media.ng-enter{
opacity:0;
	height:0;
	overflow:hidden;
}











